.App {
}

.App-header {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  text-align: center;
}

.nomargin {
  margin: 0;
}

.nopadding {
  padding: 0;
}

.padding20 {
  padding: 2em;
}

.margintop1{
  margin-top: 1em;
}

.nomargintop {
  margin-top: 0;
}

.margin20 {
  margin: 20px;
}

.paddingbottom20 {
  padding-bottom: 2em;
}
.margin20bottom {
  margin-bottom: 2em;
}

.tapahtuma {
  flex-grow: 1;
  font-weight: bold;
  line-height: 150%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-right: 2em;
}

.tapahtumaaika {
  text-align: left;
  margin-right: 1em;
  width: 40px;
  min-width: 40px;
  max-width: 40px;
  font-weight: bold;
  line-height: 150%;
  margin-top: 20px;
  margin-bottom: 20px;
}

#instafeed {
  min-width: 300px;
  min-height: 300px;
}

.kartta {
  margin-top: 0px;
  width: 100%;
}

@media screen and (min-width: 370px) {
  .tapahtumaaika {
    width: 65px;
    min-width: 65px;
    max-width: 65px;
  }
}

@media screen and (min-width: 992px) {
  .tapahtumaaika {
    width: 170px;
    min-width: 170px;
    max-width: 170px;
  }
}

@media screen and (max-width: 992px) {
  .kartta {
    margin-top: 2rem;
  }
}

.italic {
  font-style: italic;
}

.jarjesto {
  border-radius: 10px;
  padding: 3px 7px 3px 7px;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

a.jarjesto {
  color: white;
  font-size: 1.8em;
}

a:hover.jarjesto {
  color: grey;
}

a:hover.white-text {
  color: grey !important;
}

.margin20topbottom {
  margin: 20px 0 20px 0;
}

.padding20topbottom {
  padding-top: 2em;
  padding-bottom: 2em;;
}

.logo {
  align-self: center;
}

.playlist {
  width: 100%;
  margin-right: 0;
  margin-left: 0;
}

.fullwidth {
  width: 100%;
}

.wappuradio {
  background-color: #FA2626;
}

a.pikkujarjesto {
  font-size: 1.2em;
}

ul.a{
  list-style-type: circle;
}

.video-element {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.baselinealign {
  vertical-align: baseline;
}